<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="css/style.css">
  <title>Shopping List</title>
</head>

<body>
  <h1>Shopping List:</h1>
  <ul class="shopping-items-ul">
    <% for (let i=0; i < shopping-items.length; i++) { %>
      <li class="shopping-item-li">
        <% if (shopping-items[i].completed === true) { %>
          <span class="completed"><%= shopping-items[i].item %></span>
        <% } else { %>
          <span><%= shopping-items[i].item %></span>
        }
        <span class="fa fa-trash"></span>
      </li>
    <% } %>
  </ul>


</body>

</html>